<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "1ère proposition" proposition_1_path %>
<%= link_to "2ème proposition" proposition_2_path %>
<%= link_to "3ème proposition" proposition_3_path %>
